<div class="toolbar" role="banner">
  <img height="100%" alt="Angular Logo" src="../assets/pokemonlogo.png" />
</div>

<div *ngIf="!submittingForm" class="container main-content" role="main">
  <div class="row title-hello" *ngIf="intPaso!=2">
    <div class="col-lg-12 "><i class="bi bi-chevron-compact-left"></i><strong>{{titleStrong}}</strong> {{titleLigth}}
    </div>
    <p>{{subTitle}}</p>
  </div>
  <div class="row title-hello2" *ngIf="intPaso==2">
    <div class="">{{titleStrong}}</div>
    <a (click)="backTozero()" class="btn-edit"><i class="bi bi-pencil"></i>&nbsp;Editar Perfil</a>
  </div>
  <div class="row">
    <div class="col-md-6 profile-container">
      <div class="card-profile">
        <h1 *ngIf="intPaso!=2">{{titleCard}}</h1>
        <div class="title-entrenador" *ngIf="intPaso==2"><span>Entrenador</span><img src="../assets/medalla.svg"></div>
        <div class="img-container" [ngStyle]="imgContainerStyle">
          <img class="svg-user" [ngStyle]="svgUserStyle" src="../assets/user.svg">
        </div>
        <input type="file" id="fileInput" style="display: none" (change)="onFileSelected($event)">
        <button *ngIf="intPaso==0" (click)="uploadImage()"><span>{{uploadPhotoText}}</span> <img class="svg-user"
            [src]="imgButtonPath"></button>
        <div *ngIf="intPaso!=0">
          <div class="profiledataTable">
            <div class="r1 col-left" style="text-align: left;">Pasatiempo</div>
            <div class="r1 col-rigth" style="text-align: right;">{{pasatiempo}}</div>
            <div class="r2 col-left">Edad</div>
            <div class="r2 col-rigth">{{edad}}</div>
            <div class="r3 col-left" *ngIf="mayoredad">DUI</div>
            <div class="r3 col-rigth" *ngIf="mayoredad"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-container" *ngIf="intPaso==0">
      <h2>Tu información</h2>
      <span>Completa la siguiente información para completar tu perfil</span>
      <form [formGroup]="formularioPerfil">
        <div class="form-group">
          <input class="form-control" id="nombre" type="text" formControlName="nombre" required>
          <label class="floating-label">Nombre*</label>
        </div>
        <div class="form-group">
          <select class="form-control pasatiempos" id="pasatiempo" type="text" formControlName="pasatiempo">
            <option>Jugar Fútbol</option>
            <option>Jugar Basquetball</option>
            <option>Jugar Tennis</option>
            <option>Jugar Voleibol</option>
            <option>Jugar Fifa</option>
            <option>Jugar Videojuegos</option>
          </select>
          <label class="floating-label ">Pasa tiempo favorito</label>
        </div>
        <div class="form-group">
          <input class="form-control" id="cumple" type="text" formControlName="cumple" type="date" required>
          <label class="floating-label">Cumpleaños*</label>
        </div>
        <div class="form-group">
          <input class="form-control" [textMask]="{ mask: documentoMask }" id="documento" type="text"
            formControlName="documento" required>
          <label class="floating-label">{{documentoLabel}}</label>
        </div>
        <div class="form-action">
          <button type="submit" [ngClass]="{'valid-form-button': isFormValid, 'invalid-form-button': !isFormValid}"
            (click)="onSubmit()">Continuar</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 form-container" *ngIf="intPaso==1">
      <h2>Pokémon</h2>
      <span class="pokestres">Selecciona 3 Pokémon para que sean parte de tu equipo</span>
      <div class="search-container">
        <i class="bi bi-search"></i>
        <input class="search-field" type="search" [(ngModel)]="searchTerm" (ngModelChange)="filterPokemons()"
          placeholder="Buscar Pokémon" />
      </div>
      <div class="pokemonList">
        <div [ngClass]="(poke.status==0 && countSelectedPokemons() >= 3) ? 'pokeItem blocked' : 'pokeItem'"
          *ngFor="let poke of pokemons">
          <div [ngClass]="poke.status==1 ? 'pokeItemcontainer selected' : 'pokeItemcontainer unselected'"
            (click)="toggleStatus(poke)">
            <img [src]="poke.image">
            <span class="pokeitem-name"><span>{{ poke.number | numberId }}</span> <span>{{poke.name}}</span></span>
          </div>
        </div>
        <div [ngClass]="(poke.status==0 && countSelectedPokemons() >= 3) ? 'pokeItem blocked' : 'pokeItem'"
          *ngFor="let poke of filteredPokemons">
          <div [ngClass]="poke.status==1 ? 'pokeItemcontainer selected' : 'pokeItemcontainer unselected'"
            (click)="toggleStatus(poke)">
            <img [src]="poke.image">
            <span class="pokeitem-name"><span>{{ poke.number | numberId }}</span> <span>{{poke.name}}</span></span>
          </div>
        </div>
        <div class="form-action-save">
          <button type="submit" [ngClass]="countSelectedPokemons() >= 3 ? 'valid-button' : 'invalid-button'"
            (click)="savePokemons()">Guardar</button>
        </div>
      </div>

    </div>
    <div class="col-md-6 form-container" *ngIf="intPaso==2">
      <div class="title-mis"><h2>Mis Pokémon</h2> <a (click)="backToone()"><i class="bi bi-pencil"></i>&nbsp;Editar </a></div>
      <div class="mispokemonList">
        <div [ngClass]="(poke.status==0 && countSelectedPokemons() >= 3) ? 'mispokeItem' : 'mispokeItem'"
          *ngFor="let poke of misPokemon">

            <div class="pokeview-left">
              <img [src]="poke.image">
              <span class="pw-name">{{poke.name}}</span>
              <span class="pw-tipo">tipo</span>
            </div>
            
            <div class="pokeview-right">
              <div class="stat-container">
                <div class="stat-label">HP</div>
                <div class="stat-bar">
                  <div class="stat-progress" style="width: 50%;"></div>
                </div>
              </div>
              <div class="stat-container">
                <div class="stat-label">Ataque</div>
                <div class="stat-bar">
                  <div class="stat-progress" style="width: 60%;"></div>
                </div>
              </div>
              <div class="stat-container">
                <div class="stat-label">Defensa</div>
                <div class="stat-bar">
                  <div class="stat-progress" style="width: 80%;"></div>
                </div>
              </div>
              <div class="stat-container">
                <div class="stat-label">Ataque Especial</div>
                <div class="stat-bar">
                  <div class="stat-progress" style="width: 65%;"></div>
                </div>
              </div>
              <div class="stat-container">
                <div class="stat-label">Defensa Especial</div>
                <div class="stat-bar">
                  <div class="stat-progress" style="width: 70%;"></div>
                </div>
              </div>
              <div class="stat-container">
                <div class="stat-label">Velocidad</div>
                <div class="stat-bar">
                  <div class="stat-progress" style="width: 80%;"></div>
                </div>
              </div>
            </div>

        </div>
      </div>

    </div>
  </div>
</div>
<app-loader *ngIf="submittingForm"></app-loader>